<% @page_title = "Menu" %>
<div class="menu">
<h2>Menu</h2>
<div class="identity">Logged in as:</div>
<nav class="menu">
	<li><%= link_to("Google", experiments_tts_path)%>
	<li><%= link_to("Gallery", gallery_index_path)%>
	<li><%= link_to("Video", video_index_path)%>
	<li><%= link_to("Logout", access_logout_path)%>
		
	</li>
</nav>
</div>